//重写全局的主题样式
/*$--color-primary: #C9933E !default;
$--color-white: #ffffff !default;

$--color-success: #0ABF74 !default;
$--color-warning: #FFAB20 !default;
$--color-danger: #E66439 !default;
$--color-info: #41A0E6 !default;

$--color-primary-hover: #E1AA55;
$--color-primary-active: #B48437;

$--color-success-hover: #44CC88;
$--color-success-active: #28A865;

$--color-info-hover: #64B9FA;
$--color-info-active: #3481B9;

$--color-warning-hover: #FFBE50;
$--color-warning-active: #DC9219;

$--color-danger-hover: #FF7446;
$--color-danger-active: #CA5128;*/

$--color-bg: #252a4c;
$color-1: #0e172a;
$footer-color-bg:black;

$extra-large-fs: 18px;
$large-fs: 16px;
$medium-fs: 14px;
$small-fs: 13px;
$extra-small-fs: 12px;

$extra-large-btn-size: 320px;
$large-btn-size: 140px;
$normal-btn-size: 96px;
$small-btn-size: 88px;
$thiny-btn-size: 68px;

$font-color1: #333333;
$font-color2: #555555;
$font-color3: #888888;
$font-color4: #999999;
$font-color5: #B2B2B2;
$font-color6: #D5D5D5;
$font-color7: #FFFFFF;


$bg-color1: #121212;
$bg-color2: #1D1D1D;
$bg-color3: #232323;
$bg-color4: #2E2E2E;
$bg-color5: #353535;
$bg-color6: #3E3E3E;
$bg-color7: #4E4E4E;
$bg-color8: #D5D5D5;
$bg-color9: #E5E5E5;
$bg-color10: #EAEAEA;
$bg-color11: #F2F2F2;
$bg-color12: #F5F5F5;
$bg-color13: #F8F8F8;
$bg-color14: #FAFAFA;

$border-color-1: #ecdcba;
$border-color-2: #E5E5E5;

