* {
  margin: 0;
  padding: 0;
}

li {
  list-style-type: none;
}

body {
  font-family: 'PingFang SC', 'Hiragino Sans GB', 'Helvetica';
  -webkit-overflow-scrolling: touch;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
button,a,input[type=button]{
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'iconfont' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
}
/*
.Din-Medium {
  font-family: 'Din-Medium';
  //font-weight: 800;
}

.MFShangYa {
  font-family: 'MFShangYa';
}*/

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  appearance: none;
  margin: 0;
}
input{
  -moz-appearance:textfield;
}

::-webkit-input-placeholder { /*WebKit browsers*/
  color: #B5B5B5;
  font-size: 14px;
}

::-moz-placeholder { /*Mozilla Firefox*/
  color: #B5B5B5;
  font-size: 14px;
}

:-moz-placeholder { /*Mozilla Firefox*/
  color: #B5B5B5;
  font-size: 14px;
}

:-ms-input-placeholder { /*Internet Explorer*/
  color: #B5B5B5;
  font-size: 14px;
}

input {
  border: 0;
  font-size: 14px;
  font-family: 'PingFang SC', 'Hiragino Sans GB', 'Helvetica';
  &:focus {
    outline: none;
  }
}
input:-webkit-autofill,
textarea:-webkit-autofill,
select:-webkit-autofill {
  background: #f6f6f6 !important;
}

/*路由导航*/
.nuxt-link-active {
    border:1px solid red;
}
/*过度动画*/
.page-enter-active, .page-leave-active {
  transition: opacity .5s;
}
.page-enter, .page-leave-active {
  opacity: 0;
}
